.banner {
    background: url("https://wallpapercave.com/wp/wp3582617.jpg") 
    no-repeat center center ;
    background:size cover;
    padding-top: 20%;
    padding-bottom:  20%;
    color:#fff;
}
